body{
  background-color: black;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #707371;
  margin-left: 375px;
}

.button1:hover {
  background-color: #707371;
  color: white;
}

.button2, .button3, .button4, .button5 {
  background-color: white;
  color: black;
  border: 2px solid #707371;
  margin-left: .25px;
}

.button2:hover, .button3:hover, .button4:hover, .button5:hover {
  background-color: #707371;
  color: white;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  color: white;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
